<div id="background">
    <div id="container">

        <span id="lockicon" class="iconify" data-icon="mdi:lock-clock"></span>

        <h1>Reset password</h1>

        <form [formGroup]="reset" (ngSubmit)="toChange()">

            <mat-form-field appearance="outline" id="email">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="name@example.com/+3819322" name="email" formControlName="email"
                    required>
                <mat-error *ngIf="reset.get('email')?.invalid && reset.get('email')?.touched">
                    <span *ngIf="reset.get('email')?.errors?.['email']" class="input-error">Resource must be in
                        correct format</span>
                    <span *ngIf="reset.get('email')?.errors?.['required']" class="input-error">Resource is
                        required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="field" id="password">
                <mat-label>Old password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="oldPassword">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reset.get('password')?.invalid && reset.get('password')?.touched" >
                  <span *ngIf="reset.get('password')?.errors?.['required']" class="input-error" >Field is required</span>
                </mat-error>
              </mat-form-field>

            <mat-form-field appearance="outline" class="field" id="password">
                <mat-label>New password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="newPassword">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reset.get('password')?.invalid && reset.get('password')?.touched" >
                  <span *ngIf="reset.get('password')?.errors?.['checkpasswords']" class="input-error" >Not valid format</span>
                  <span *ngIf="reset.get('password')?.errors?.['minlength']" class="input-error" >Must contain atleast 6 characters</span>
                  <span *ngIf="reset.get('password')?.errors?.['required']" class="input-error" >Field is required</span>
                  <span *ngIf="hasError" class="input-error" >Cannot reuse previious password</span>
                </mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="field" id="confirmpassword">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirmPassword">
                  <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reset.get('confirmPassword')?.invalid && reset.get('confirmPassword')?.touched" >
                  <span *ngIf="reset.get('confirmPassword')?.errors?.['matching']" class="input-error" >Passwords must match</span>
                  <span *ngIf="reset.get('confirmPassword')?.errors?.['required']" class="input-error" >Field is required</span>
                </mat-error>
              </mat-form-field>

            <button type="submit" id="resetbtn">RESET</button>

            <div id="toLogin">
                <p>Back to </p>
                <p id="login" (click)="toLogin()">Log in</p>
            </div>

        </form>
    </div>
</div>
