table {
    margin-top: 20px;
}

.table-header {
    margin-top: 20px;
    margin-left: 11.5%;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 83%;
}

td.serial-number {
    max-width: 100px; /* Change this value to the desired maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; /* make the element a positioning context for the tooltip */
}
