<div id="background">
    <div id="container">

        <span id="lockicon" class="iconify" data-icon="mdi:lock-clock"></span>

        <h1>Forgot your password?</h1>
        <h3>Please enter the resource you use to log in</h3>

        <form [formGroup]="forgot" (ngSubmit)="toReset()">

            <div id="radio">
                <p> Resource Type</p>
                <mat-radio-group aria-label="Select an option" formControlName="type" required>
                    <mat-radio-button value="email">Email</mat-radio-button>
                    <mat-radio-button value="sms">Phone number</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field appearance="outline" id="email">
                <mat-label>Resource</mat-label>
                <input matInput type="text" placeholder="name@example.com/+3819322" name="resource" formControlName="resource"
                    required>
                <mat-error *ngIf="forgot.get('resource')?.invalid && forgot.get('resource')?.touched">
                    <span *ngIf="forgot.get('resource')?.errors?.['resource']" class="input-error">Resource must be in
                        correct format</span>
                    <span *ngIf="forgot.get('resource')?.errors?.['required']" class="input-error">Resource is
                        required</span>
                </mat-error>
            </mat-form-field>

            

            <button type="submit" id="requestbtn">Request password reset</button>

            <mat-error *ngIf="hasError">
                <span class="res-error">Wrong resource!</span>
            </mat-error>

            <div id="toLogin">
                <p>Back to</p>
                <p id="login" (click)="toLogin()">Log in</p>
            </div>

        </form>
    </div>
</div>